In [0]:
%sql
CREATE OR REPLACE TABLE bankai(
  id INT,
  name VARCHAR(50)
);

INSERT INTO bankai
VALUES
  (1, 'Kenpachi'),
  (2, 'Aizen'),
  (3, 'Ichigo'),
  (4, 'Uhurahara')

In [0]:
year_value = dbutils.widgets.get("year")
print(year_value)